<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:tsc="http://typo3.org/ns/Jramke/TailwindStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <f:variable name="textFirst">{tsc:inList(needle: data.imageorient, haystack: '25,35,8,9,10')}</f:variable>
    <f:variable name="center">{tsc:inList(needle: data.imageorient, haystack: '35,36,0,8')}</f:variable>
    <f:variable name="right">{tsc:inList(needle: data.imageorient, haystack: '1,9')}</f:variable>
    <f:variable name="2cols">{f:if(condition: '{data.imageorient} > 10', then: '1', else: '0')}</f:variable>

    <f:variable name="gridClass">
        <f:join value="{
            0: 'grid gap-8',
            1: '{f:if(condition: \'{2cols}\', then: \' lg:grid-cols-2\')}',
            2: '{f:if(condition: \'{center}\', then: \' lg:place-items-center\')}',
        }" />
    </f:variable>

    <f:variable name="galleryClass">
        <f:join value="{
            0: 'flex',
            1: '{f:if(condition: \'{center} && {2cols}\', then: \' lg:justify-center\')}',
            2: '{f:if(condition: \'{right} && {2cols}\', then: \' lg:justify-end\')}',
            3: '{f:if(condition: \'{center} && !{2cols}\', then: \' justify-center\')}',
            4: '{f:if(condition: \'{right} && !{2cols}\', then: \' justify-end\')}',
        }" />
    </f:variable>

    <f:variable name="textClass">
        <f:join value="{
            0: '{f:if(condition: \'{2cols}\', then: \' lg:w-5/6\')}',
            1: '{f:if(condition: \'!{textFirst} && {2cols}\', then: \' lg:order-1 lg:ml-auto\')}',
            2: '{f:if(condition: \'!{textFirst} && !{2cols}\', then: \' order-1\')}',
        }" />
    </f:variable>

    <div class="{gridClass -> f:spaceless()}">
        <f:if condition="{data.bodytext} || {data.header} || {data.subheader} || {data.date}">
            <div class="{textClass -> f:spaceless()}">
                <f:render partial="Header/All" arguments="{_all}" />
                <f:if condition="{data.bodytext}">
                    <f:render partial="Prose" contentAs="content">
                        {data.bodytext -> f:format.html()}
                    </f:render>
                </f:if>
            </div>
        </f:if>
        <div class="{galleryClass -> f:spaceless()}">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </div>
    </div>

</f:section>
</html>